odoo-addon-l10n_ro_config @ git+https://github.com/OCA/l10n-romania@refs/pull/170/head#subdirectory=setup/l10n_ro_config
odoo-addon-l10n_ro_stock @ git+https://github.com/OCA/l10n-romania@refs/pull/176/head#subdirectory=setup/l10n_ro_stock
